*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrapper{
    display: grid;
    place-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.task-adder{
    width: 600px;
    height: 40px;
    border-radius: 10px;
    padding-left: 20px;
    background-color: rgb(41, 22, 58);
    color: white;
}
.task-adder-button{
    padding: 10px 5px;
    border-radius: 10px;
    background-color: rgb(41, 22, 58);
    color: rgb(229, 183, 183);
    margin-left: 15px;
}
.wrapper2{
    width: 710px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 10px;
    justify-content: space-between;
    background-color: rgb(41, 22, 58);
    color: rgb(229, 183, 183);
    margin-top: 15px;
}
.image-wrapper{
    display: flex;
}
.button{
    width: 15px;
    height: 15px;
}
.btn{
    width: 20px;
    height: 20px;
    border: 0;
    outline: 0;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 10px;
}
